{% extends 'base.html.twig' %}

{% block body %}
    {{ include('layout/header.html.twig') }}
    <div class="storyboard">
        <div class="controls">
            {{ include('layout/content/controls.html.twig') }}
        </div>
        <div class="display">
            {{ include('layout/content/display.html.twig') }}
        </div>
        <div class="map">
            {{ include('layout/content/map.html.twig') }}
        </div>
    </div>
{% endblock %}
