{% extends 'base.html.twig' %}

{% block body %}
        <ul class="campaign-list">
            <li>Boar of Eleron</li>
            <li>Star magika</li>
            <li>Hell Within</li>
        </ul>
{% endblock %}
