{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <ul class="campaign-list">
            {% for campaign in campaigns %}
                <li><a class="campaign-item" href="{{ path('index_campaign', { 'id': campaign.id}) }}">{{ campaign.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
