{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        {{ include('layout/content/campaigns.html.twig') }}
        {#<div class="storyboard">
            <div class="controls">
                {{ include('layout/content/controls.html.twig') }}
            </div>
            <div class="map">
                {{ include('layout/content/map.html.twig') }}
            </div>
        </div>#}
    </div>
{% endblock %}
