{% extends 'base.html.twig' %}

{% block body %}
    <div class="header-container">
            <img class="header-logo" src="{{ asset('images/swords.png') }}" alt="">
            <div class="header-title">
                Mj-Helper
            </div>
        <div class="header-nav">help</div>
    </div>
{% endblock %}
